<!DOCTYPE html>
<html>
  <head>
    <title>Portuguese Poets and Writers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <center>
        <img src="{{thumbnail}}" width="300">
        <p><b>{{name}}</b></p>
      </center>
      <p style="text-align:justify">{{abstract}}</p>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>